{% extends 'base/base_content2.html' %}
{% load static %}

{% block content %}
<div class="container">
  <a href="{% url 'templates' %}" class="back-button">
    <i class="bi-arrow-left"></i>
  </a>
    <div class="row">
      <div class="col-sm-12 col-md-6 offset-md-3 mt-4">
        <h2 class="mt-4">What Inspires You?</h1>
        <form class="mt-5" action="{% url 'create_template' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=form %}
          {{ form.media }}
          <input type="submit" value="Create Template" class="btn btn-secondary">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  {{ block.super }}
  <script src="{% static 'ckeditor/ckeditor.js' %}"></script>  
  <script>
    CKEDITOR.replace('id_text');  
  </script>
{% endblock %}