{% extends 'base/base_content2.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 offset-md-3">
        <h2>Edit Journal Entry</h2>
        <div class="copy-div mt-3">
        <p>Choose to type or speak your thoughts. Express yourself in anyway you desire!</p>
      </div>
      
        <form  method="post" enctype="multipart/form-data" class="mt-4">
          {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=form %}
          {{ form.media }}
          <button type="button" id="toggle-record-btn" class="btn">
            <i class="fas fa-microphone"></i> 
          </button>
          <input type="submit" value="Save Changes" class="btn btn-secondary">
        </form>
        <div class="copy-div mt-3">
          <p>To upload images, click on the image icon, then go to "Upload", upload your image, click "Send it to the Server", then "Ok".</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  {{ block.super }}
  <script src="{% static 'ckeditor/ckeditor.js' %}"></script>  
  <script>
    CKEDITOR.replace('id_text');  
  </script>
{% endblock %}