{% extends 'base/base_content2.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <h2 class="text-center mt-5">Edit profile</h2>
      <form action="{% url 'profile' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
      
        <div class="text-center"> <!-- Center the button -->
          <input type="submit" value="Update" class="btn btn-secondary">
        </div>
      </form>
      <div class="text-center mt-5"> 
        <a href="{% url 'delete_account' %}" class="btn btn-secondary mr-2">Delete Account</a>
      </div>
    </div>
    
  </div>
</div>
{% endblock %}
