<div class="container mt-5">
    <div class="row">
        <div class="copy-div mt-4 text-center">
        <h2>Journal Enthusiast? Then you need Bloom</h2>
        </div> 
      <div class="col-md-6 col-lg-3 mb-4 mt-5">
        <div class="card copy-div">
          <h5 class="card-title">Calendar View</h5>
          <p class="card-text mt-2">Easily access your own visual journey through time, encouraging regular journaling as a path to mindfulness and a more organized mental space.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mt-5">
        <div class="card copy-div">
          <h5 class="card-title">Say What's On Your Mind. Literally.</h5>
          <p class="card-text mt-2">Journal as effortlessly as speaking your thoughts out loud. We're breaking down barriers to journaling, such as time constraints or physical impediments, making it more inclusive and accessible.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mt-5">
        <div class="card copy-div">
          <h5 class="card-title">Keep An Eye On Your Mood</h5>
          <p class="card-text mt-2">Understand the impact of daily events on your well-being as we provide you with valuable insights into your mood patterns and changes over time.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mt-5">
        <div class="card copy-div">
          <h5 class="card-title">Meet Your New Little Friend!</h5>
          <p class="card-text mt-2">This is the heart of Bloom's philosophy. Witness your own personal growth and the flourishing of a calmer, more mindful self as you nurture your flower pet from a bud to full bloom with consistent journalling.</p>
        </div>
      </div>
    </div>
  </div>