
    {% if not entry.deleted %}
      <div class="card mb-3 entry-card" id="entry{{ entry.id }}">
        <div class="card-body ">
          <input type="checkbox" class="selectCheckbox" style="display:none;" data-entry-id="{{ entry.id }}">
          <div class="card-icons">
            <a href="{% url 'edit_entry' pk=entry.id %}" id="pencil"><img src="../../../static/images/pencil.png" height="20" width="20" ></a>
            {% if entry.favourited %}
            <a href="{% url 'unfavourite_entry' entry_id=entry.id %}" class="favourite"><img src="http://www.clker.com/cliparts/g/R/o/O/K/1/simple-star-md.png" height="20" width="20" class="float-right"></a>
            {% else %}
            <a href="{% url 'favourite_entry' entry_id=entry.id %}" class="favourite"><img src="http://www.clker.com/cliparts/2/4/T/f/0/4/star-grey-md.png" height="20" width="20" class="float-right"></a>
            {% endif %}
          </div>
          <h5 class="card-title">{{ entry.title }}</h5> 
         <details id="details-{{ entry.id }}" data-entry-id="{{ entry.id }}">
          <summary id="summary-{{ entry.id }}">See More</summary>
          <p>{{ entry.text|safe }}</p>
         </details>
          <p>Feeling: {{ entry.get_mood_display }}</p>
          <div class="card-buttons">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="individualExportDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Export
              </button>
              <div class="dropdown-menu" aria-labelledby="individualExportDropdown">
                <a class="dropdown-item" href="{% url 'export_journal_entry_to_pdf' entry_id=entry.id %}">Export to PDF</a>
                <a class="dropdown-item" href="{% url 'export_journal_entry_to_rtf' entry_id=entry.id %}">Export to RTF</a>
              </div>
            </div>
            <a href="{% url 'delete_entry' entry_id=entry.id %}" class="btn btn-danger fas fa-trash-alt"></a>
            </div>
        </div>
      </div>
    {% endif %}
    
