

{% extends 'base_content2.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 offset-md-3">
        <h1>Create Journal Entry</h1>
        <form action="{% url 'create_entry' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=form %}
          {{ form.media }}
          <button type="button" id="toggle-record-btn" class="btn">
            <i class="fas fa-microphone"></i> 
          </button>
          <input type="submit" value="Create Entry" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  {{ block.super }}
  <script src="{% static 'ckeditor/ckeditor.js' %}"></script>  
  <script>
    CKEDITOR.replace('id_text');  
  </script>
{% endblock %}