{% extends 'base_content2.html' %}
{% block content %}
<div id="welcomeMessage">
    <h2>Welcome to your Journal, {{ user.username }}</h2>
</div>
<div id="calendarApp">
  <div class="calendar-controls">
      <select id="monthSelect"></select>
      <select id="yearSelect"></select>
      <button id="goToDate">Go</button>
  </div>
  <table id="calendar">
      <thead>
          <tr><th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th></tr>
      </thead>
      <tbody></tbody>
  </table>
  <div class="calendar-navigation">
      <button id="prevMonth">Prev</button>
      <button id="nextMonth">Next</button>
  </div>
</div>

<div id="modal" class="modal">
  <div class="modal-content">
      <span class="close">&times;</span>
      <p id="modalText">Day selected</p>
  </div>
</div>
{% endblock %}
