{% extends 'base_content2.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to your Journal Log</h1>
      <a href="{% url 'create_entry' %}" class="btn btn-primary">New Journal Entry</a>
      <div class = "card-deck">
        {% for entry in journal_entries %}
        {% if not entry.deleted %}
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ entry.title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ entry.created_at }}</h6>
              <p class="card-text">{{ entry.text }}</p>
              <p>Mood: {{ entry.get_mood_display }}</p>
              <a href="{% url 'delete_entry' entry_id=entry.id %}" class="btn btn-danger">Delete Entry</a>
            </div>
          </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}