{% extends 'base_content2.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to your Journal Log</h1>
      <p>Here, you can browse through all your past memories, favorite the most cherished ones, delete those no longer needed, and seamlessly export your thoughts to PDF or RTF formats for safekeeping or sharing! </p>
      <a href="{% url 'create_entry' %}" class="btn btn-primary">New Journal Entry</a>
      <button id="toggleSelect" class="btn btn-info">Select</button>
      <div class="dropdown" style="display:none;" id="exportOptions">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="exportDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Export
        </button>
        <div class="dropdown-menu" aria-labelledby="exportDropdown">
          <a class="dropdown-item" href="#" onclick="exportSelected('pdf')">Export to PDF</a>
          <a class="dropdown-item" href="#" onclick="exportSelected('rtf')">Export to RTF</a>
        </div>
        <button id="deleteButton" class="btn btn-danger fas fa-trash-alt"> </button>
      </div>
      <div class="card-deck">
        {% for entry in journal_entries %}
        {% if not entry.deleted %}
          <div class="card mb-3" id="entry{{ entry.id }}">
            <div class="card-body">
              <input type="checkbox" class="selectCheckbox" style="display:none;" data-entry-id="{{ entry.id }}">
              {% if entry.favourited %}
              <a href="{% url 'unfavourite_entry' entry_id=entry.id %}" class="favourite"><img src="http://www.clker.com/cliparts/g/R/o/O/K/1/simple-star-md.png" height="20" width="20"></a>
              {% else %}
              <a href="{% url 'favourite_entry' entry_id=entry.id %}" class="favourite"><img src="http://www.clker.com/cliparts/2/4/T/f/0/4/star-grey-md.png" height="20" width="20"></a>
              {% endif %}
              <h5 class="card-title">{{ entry.title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ entry.created_at }}</h6>
              <p class="card-text">{{ entry.text|safe }}</p>
              <p>Mood: {{ entry.get_mood_display }}</p>
              <a href="{% url 'delete_entry' entry_id=entry.id %}" class="btn btn-danger">Delete Entry</a>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="individualExportDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export</button>
                <div class="dropdown-menu" aria-labelledby="individualExportDropdown">
                  <a class="dropdown-item" href="{% url 'export_journal_entry_to_pdf' entry_id=entry.id %}">Export to PDF</a>
                  <a class="dropdown-item" href="{% url 'export_journal_entry_to_rtf' entry_id=entry.id %}">Export to RTF</a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
