{% extends 'base_content2.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Welcome to your Mood Breakdown</h1>
      <h2>Your Average Moods</h2>
      <p><i>Your average moods show which mood you felt the most today, this week and this month...</i></p>
      <p><strong>Mood of the Day:</strong> {{ mood_today }}</p>
      <p><strong>Mood of the Week:</strong> {{ mood_week }}</p>
      <p><strong>Mood of the Month:</strong> {{ mood_month }}</p>
      <h2>Variations in your Mood</h2>
      <p><i>This chart shows how often you have felt each mood over the past month...</i></p>
      {% if mood_chart %}
        <img src="data:image/png;base64,{{ mood_chart }}" alt="Mood Chart">
        {% else %}
        <p>No mood data available to display the chart.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
