{% extends 'base_content2.html' %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 offset-md-3">
        <h1>Create New Template</h1>
        <form action="{% url 'new_template' %}" method="post" enctype='multipart/form-data'>
          {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=form %}
          <input type="submit" value="Create Template" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
{% endblock %}