{% extends 'base_content2.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>These are all your templates</h1>
      <a href="{% url 'create_template' %}" class="btn btn-primary">New Template</a>
      <div class = "card-deck">   
            {% for template in templates %}
            <div class = "card mb 3">
              <div class = "card-body">
                <h2 class = "card-title">{{template.name}}</h2>
                <p class = "card-text">{{template.questions}}</p>
              </div>
            </div>
            {% endfor %}

      </div>
    </div>
  </div>
</div>
{% endblock %}