{% extends 'base_content2.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class = "col-12">
      <h1>Please Pick a Template Choice</h1>
    </div>
    <div class = "row">
      <div class="col-12 d-flex">
        {% for template in templates %}
        <div class = "card">
          <div class = "details">
            <a href = "{% url 'create_template_entry' template_name=template.name %}">{{template.name}}</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}