{% extends 'base/base.html' %}
{% block body %}
<div class="container container-custom">
    <div class="text-center-custom">
        <h1 class="title-custom">Task Manager</h1>
        <p class="cover-text">A task manager application by Team <i>Insert team name here (or revise this home screen as you see fit)</i></p>
        <p>
            <a href='{% url 'sign_up' %}' class="btn btn-lg btn-secondary btn-custom">
                Sign up
            </a>
        </p>
        <p>
            <a href='{% url 'log_in' %}' class="btn btn-lg btn-secondary btn-custom">
                Log in
            </a>
        </p>
    </div>
</div>
{% endblock %}
