{% extends 'base/base.html' %}
{% load static %}
{% block body %}


<nav class="navbar navbar-light dropdown home-nav">
  <div class="dropdown">
      <a class="d-block" href="#" role="button" id="user-account-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://www.gravatar.com/avatar/?d=mp&s=40" alt="Default Mini Gravatar" width="40" height="40" class="rounded-circle">
      </a>
      <ul class="dropdown-menu dropdown-menu-sm nav-dropdown" aria-labelledby="user-account-dropdown">
          <li><a href="{% url 'sign_up' %}" class="btn btn-secondary">Sign up</a></li>
          <li> <a href="{% url 'log_in' %}" class="btn btn-secondary">Log in</a></li>
      </ul>
  </div>
</nav>


<div class="container">
    <div class="text-center-custom">
        <div class="logo-div">
            <img src="{% static 'images/logo.png' %}" alt="Bloom Logo" class="logo" width="110" height="150">
            <h1 class=" dash-header home-header">Bloom</h1>
        </div>
        <div class="typing-animation">
        <h2 class="dash-h2 landing-sub"> Journal. Reflect. Flourish. <i> </i></p></h2>
        </div>
        
    </div>
</div>
        {% include 'partials/landing_text.html' %}
{% endblock %}
