{% extends 'base/base_content2.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Welcome to your Mood Breakdown</h2>
      <p class="dash-p">Reflecting on your days goes beyond journal entries; it's equally vital to gauge your mood. <br> Here, we've simplified the process of tracking your emotional journey, allowing you to easily view and understand your mood fluctuations over time. <br>Embrace the power of introspection as you explore your mood breakdown on this page!</p>
      <div class="copy-div av-mood">
      <h3>Your Average Moods</h3>
      <br>
      <p><strong>Mood of the Day:</strong> {{ mood_today }}</p>
      <p><strong>Mood of the Week:</strong> {{ mood_week }}</p>
      <p><strong>Mood of the Month:</strong> {{ mood_month }}</p>
      </div>
      <h2 class="text-center">Your Monthly Mood Variation</h2>
      <p class="text-center"><i>This chart shows how often you have felt each mood over the <strong>past month</strong>...</i></p>

      <div class="container copy-div">
        <div class="row justify-content-center">
            <div class="col-md-6 ">
                {% if mood_chart %}
                <div class="mood-chart text-center">
                    <img src="data:image/png;base64,{{ mood_chart }}" alt="Mood Chart">
                </div>
                {% else %}
                <p class="text-center">No mood data available to display the chart.</p>
                {% endif %}
            </div>
        </div>
    </div>
    
      </div>
    </div>
  </div>
</div>
{% endblock %}
