{% extends 'base/base_content2.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class = "col-12">
      <h1>Please Pick a Template Choice</h1>
    </div>
    <div class = "row">
      <form method="post">
        {% csrf_token %}
        {% for template in templates %}
          <button type="submit" name="selected_template_name" value="{{ template.name }}">
              {% if template.name == 'create_entry.html' %}
                  Blank Template
              {% else %}
                  {{ template.name }}
              {% endif %}
          </button>
      {% endfor %}
    </form>
  </div>
</div>
{% endblock %}