{% extends 'base/base_content2.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Welcome To Your Templates</h2>
      <div class="copy-div">
        <p>Explore an array of templates to guide you on your journaling journey, offering thoughtful prompts to inspire your reflections. <br>Here, you can both discover curated templates and craft your own!</p>
      </div>
      <div class="mt-3">
        <a href="{% url 'create_template' %}" class="btn btn-secondary">Make Your Own</a>
      </div>
      {% for template in templates %}
        {%include 'partials/list_templates.html' with template=template%}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}