{% extends 'base/base_content2.html' %}
{% block content %}
<div class="container">
  <div class="row mt-4">
    <div class = "col-12 mt-4">
      <h2>Let Your Thoughts Be Guided</h2>
    </div>
    <div class = "row">
      <form method="post">
        {% csrf_token %}
        {% for template in templates %}
          <button type="submit" name="selected_template_name" class='btn btn-secondary' value="{{ template.name }}">
              {% if template.name == 'create_entry.html' %}
                  Blank Template
              {% else %}
                  {{ template.name }}
              {% endif %}
          </button>
      {% endfor %}
    </form>
  </div>
</div>
{% endblock %}