{% extends 'base_content.html' %}
{% block content %}
<div class="container container-signup">
  <a href="{% url 'home' %}" class="home-button">
    <i class="bi-arrow-left"></i>
  </a>
  <div class="row">
    <div class="col-12">
      <h1 class="signup-title">Sign up</h1>
      <form action="{% url 'sign_up' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% include 'partials/bootstrap_form.html' with form=form %}
        <button type="submit" class="btn btn-primary circle-button">
          <i class="bi bi-lock-fill"></i>
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
