{% extends 'base/base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3 mt-5">
      <h2 class="text-center">Forgot your password?</h2>
      <p class="text-center">Enter your email address below, and we'll email instructions for setting a new one.</p>
      <form method="POST">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
            <div class="text-center"> <!-- Center the button -->
              <input type="submit" value="Send me instructions!" class="btn btn-secondary">
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}