{% extends 'base/base_content.html' %}
{% block content %}
<div class="container" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
  <a href="{% url 'home' %}" class="home-button" style="position: absolute; top: 10px; left: 10px; display: flex; align-items: center; justify-content: center; background-color: #025912; color: white; border-radius: 50%; width: 50px; height: 50px;">
    <i class="bi-arrow-left"></i> 
  </a>
  <div class="row">
    <div class="col-12">
      <h1 style="font-family: 'Big Shoulders Display', cursive; font-size: 50px; white-space: nowrap;">Set Your Preferences:</h1>
      <form action="{% url 'set_preferences' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% include 'partials/bootstrap_form_pref2.html' with form=form %}
        <button type="submit" class="btn btn-primary circle-button" style="border-radius: 50%; background-color: #025912; color: rgb(255, 255, 255); padding: 10px; width: 50px; height: 50px; display: flex; justify-content: center; align-items: center; border: none;">
          <i class="bi bi-lock-fill"></i>
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}