@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
/*
 * Alerts
 */

 
body{
  font-family: 'Source Sans Pro', sans-serif !important;
}

h1{
  font-family: "Playfair Display", sans-serif;
}

.sidenav {
  font-family: 'Source Sans Pro', sans-serif;
  height:100%;
  width:160px;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:black;
  overflow-x:hidden;
  padding-top:20px;
}

.sidenav a {
  padding:6px 8px 6px 16px;
  text-decoration: none;
  color: #818181;
  font-size: 25px;
  display:block;
}

.sidenav a:hover{
  color:#f1f1f1;
}
.main{
  margin-left: 160px;
  padding: 0px 10px;
}


.alert {
  border-radius: 0px;
}



/*
 * Cover page
 */

.content {
  padding-top: 10px;
}

.h-100 {
  min-height: 100vh;
  height: 100vh;
}

.vcenter-item{
    display: flex;
    align-items: center;
}

/*
 * Cover page
 */
h1.cover-heading {
  font-size: 4rem;
}

p.cover-text {
  font-size: 1.7rem;
}

.cover-card {
  background-color: rgba(245, 245, 245, 0.6);
  max-width: 30rem;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  border-radius: 15%;
}
.cover-card-block {
  opacity: 1
}



/*
 * forms
 */
.nolabel label {
  display: none;
}

ul.errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
 * Typefaces
 */

.low-key {
  color: #777777;
  font-weight: 300;
}

.list-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

/*
 * Profile
 */
.profile-image {
  width: 120px;
  clear:both;
  float:left;
}

.profile-text {
  overflow:hidden;
  padding-left:20px
}

h3.profile-title {
  margin-bottom: 0px;
}

.profile-username {
  color: #777777;
  font-weight: 300;
  font-style: italic;
}
/* record button */
#toggle-record-btn {
  font-size: 15px; 
  background-color: white; 
  color: black;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  margin-right: 10px; 
}

#toggle-record-btn i {
  color: black; 
}


.recording {
  background-color: rgb(255, 0, 0); 
}

/* log in page */
.container-custom {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-button {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #025912;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.title-custom {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 50px;
  white-space: nowrap;
}

.form-custom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-button {
  border-radius: 50%;
  background-color: #025912;
  color: rgb(255, 255, 255);
  padding: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

/* sign up page */
.container-signup {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-button {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #025912;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.signup-title {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 50px;
  white-space: nowrap;
}

.circle-button {
  border-radius: 50%;
  background-color: #025912;
  color: rgb(255, 255, 255);
  padding: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

/* home page */
.container-custom {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center-custom {
  text-align: center;
}

.title-custom, .cover-text, .btn-lg {
  font-family: 'Big Shoulders Display', cursive;
  white-space: nowrap;
}

.title-custom {
  font-size: 50px;
}

.cover-text {
  font-size: 20px;
}

.btn-lg {
  font-size: 30px;
  background-color: #025912;
  color: white;
}
/*Calendar 
*/
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #E8F5E9; 
}

#calendarApp {
  text-align: center;
  width: 100%; 
  table-layout: fixed;
  max-width: 1200px; 
  margin: 2% auto;
  background-color: #FEFEFE; 
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05); 
  padding: 40px; 
  border: 1px solid #DDDDDD; 
}

.calendar-controls, .calendar-navigation {
  position: relative; 
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  gap: 20px; 
  font-size: 18px; 
}

#calendar {
  width: 100%;
  border-collapse: collapse;
}

#calendar th {
  height: 100px;
  background-color: #C8E6C9; 
  color: #2E7D32; 
  padding: 20px 15px; 
  font-size: 20px;
  border-radius: 10px;
}

#calendar td {
  height: 100px;
  border: 1px solid #F0F0F0;
  padding: 40px 15px; 
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #FAFAFA;
}

#calendar td:hover {
  background-color: #A5D6A7; 
}

.today {
  background-color: #1B5E20; 
  color: rgb(155, 209, 169);
  font-weight: bold;
  border-radius: 50%; 
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 40px;
  border: 1px solid #888;
  width: 50%; 
  border-radius: 15px; 
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}